#imgContainer {
    width: 80%;
    margin: 0 auto;
    background-color: transparent;
}

#imgContainer > img {
    margin-top: 5%;
    width: 100%; 
}

#mapaContainer {
    background-color: transparent;
    margin-top: 5%;
}

#mapa {
    margin: 0 auto;
    margin-top: 5%;
    width: 100%;
    display: block;
    float: none;
    max-width: 400px;
    max-height: 300px;
}

#textAbout {
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    font-size: 1.5rem;
    text-shadow: 2px 2px #000;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    text-align: justify;
}

@media (min-width: 600px) {

    #imgContainer {
        text-align: center  ;
    }

    #imgContainer > img {
        margin-top: 5%;
        max-width: 400px;
        width: 100%; 
    }

}